@use './colors';
@use './mixins/breakpoint' as breakpoint;

.about {
  position: relative;
  .container {
    width: 100%;
    flex: {
      direction: column;
    }
    gap: 16px 54px;
    @include breakpoint.large-breakpoint {
      flex: {
        direction: row;
      }
      .content {
        width: 55%;
      }
      .panel {
        width: 45%;
      }
    }
    @include breakpoint.x-large-breakpoint {
      flex: {
        direction: row;
      }
      .panel {
        li {
          &:nth-child(2) {
            margin: {
              inline: {
                start: 50%;
              }
            }
          }
        }
      }
    }
  }
  .panel {
    li {
      position: relative;
      margin: {
        block: {
          start: 18px;
        }
      }
      --symbole-width: clamp(20rem, 8vw, 35rem);
      --symbole-height: clamp(20rem, 8vw, 35rem);
    }
  }
  .panel-item-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }
}
