@use './colors';
@use './mixins/breakpoint' as breakpoint;

.about {
  .container {
    flex: {
      direction: column;
    }
    gap: clamp(8px, 2vw, 62px);
    margin: {
      block: {
        start: 60px;
      }
    }
  }
  .image {
    min-width: 40%;
    max-width: 300px;
    background: {
      color: #cd9c0acc;
    }
    aspect-ratio: var(--aspect-ratio, 1/1);
  }
  img {
    max-width: 350px;
  }
  .quote {
    min-width: 50%;
  }
  @include breakpoint.large-breakpoint {
    .container {
      flex: {
        direction: row;
      }
    }
  }
}
