:root {
  --swiper-theme-color: #cd9c0a;
}

$black: #000000;
$grey: #808080;
$grey-light: #f4f4f4;
$grey-dark: #444444;
$white: #ffffff;
$white-inactive: #ffffffa6;
$secondary: #4a806a;
$secondary-dark: #3a4c40;
$secondary-light: #89aa73;
$primary: #cd9c0a;
$primary-light: #c5a527;
$primary-quote: #d6cba0;
$pink: #ff48a6;
$feature-label-blue: #29d5ff;
$feature-label-green: #93d522;
$purple: #6c03a8;
