@use './colors';
@use './mixins/hover-focus' as hover-focus;

.page-footer {
  position: relative;
  background: {
    color: colors.$black;
  }
  width: 100%;
  padding: {
    block: {
      start: 2.5rem;
      end: 2.5rem;
    }
  }
  .container {
    gap: 16px 28px;
  }
}

.contact {
  a {
    color: colors.$white-inactive;
    transition: transform 0.33s ease-in-out, color 0.33s ease-in-out;
    @include hover-focus.hover-focus-state() {
      color: colors.$white;
      &::after {
        left: 100%;
        transform: translate3d(50%, 0, 0);
        transition: transform 0.4s ease-out, left 0.4s ease-out;
      }
    }
    &.has-icon {
      svg {
        font-size: 2.5rem;
      }
    }
  }
  &.container {
    margin: {
      block: {
        start: 2rem;
        end: 2.5rem;
      }
    }
  }
}

.divide {
  padding: {
    block: {
      start: 2rem;
    }
  }
  border-top: 1px solid #666262;
}

.copyright {
  color: colors.$white;
}
