@use 'sass:map';
@use './colors' as colors;
@use './typo/variables' as typo;
@use './mixins/breakpoint' as breakpoint;
@use './mixins/hover-focus' as hover-focus;

header {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo {
  z-index: 5;
  font: {
    size: clamp(32px, 2vw, 42px);
  }
  padding: {
    block: {
      start: 1rem;
      end: 1rem;
    }
  }
  position: relative;
  span:first-child {
    color: colors.$primary;
  }
  span:last-child {
    color: colors.$primary-deep;
    position: absolute;
    top: 26px;
    left: 10px;
  }
}
