@use 'sass:map';
@use './colors' as colors;
@use './typo/variables' as typo;
@use './mixins/breakpoint' as breakpoint;
@use './mixins/hover-focus' as hover-focus;

header {
  background: {
    color: colors.$black;
  }
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  padding: {
    block: {
      start: 1rem;
      end: 1rem;
    }
  }
  &.is-nav-open {
    nav {
      display: block;
      &::after {
        background-color: black;
        opacity: 1;
        transition: opacity 1.25s ease-in-out;
      }
    }
    .trigger {
      &::before {
        transform: translateY(0) rotate(45deg);
      }
      &::after {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
  .container {
    flex: {
      direction: row;
    }
    align-items: start;
    @include breakpoint.large-breakpoint {
      align-items: center;
    }
  }
}

.logo {
  font: {
    size: clamp(32px, 2vw, 42px);
    weight: map.get(typo.$font-weights, 'regular');
  }
  padding: {
    block: {
      start: 1rem;
      end: 1rem;
    }
  }
  line-height: 1;
  color: red;
  span {
    transition: color 0.33s ease-in-out;
  }
  span:first-child {
    color: colors.$primary;
  }
  span:last-child {
    color: colors.$secondary;
    position: absolute;
    top: 7px;
  }
}
