@use 'sass:map';
@use './colors' as colors;
@use './typo/variables' as typo;
@use './mixins/breakpoint' as breakpoint;

.home {
  background-color: colors.$black;
  .content {
    position: relative;
    margin: {
      block: {
        start: 80px;
      }
    }
    @include breakpoint.large-breakpoint {
      margin: {
        block: {
          start: 180px;
          end: 180px;
        }
      }
    }
  }
  .content-text {
    position: relative;
    display: flex;
    flex: {
      direction: column;
    }
    text-align: center;
    z-index: 1;
  }

  .active {
    .phrase {
      height: 50%;
      overflow: hidden;
      &:first-child {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
      &:last-child {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
@supports (-webkit-text-stroke: 2px rgb(244, 244, 236 )) {
  .phrase {
    letter-spacing: 0.025em;
    color: transparent;
    -webkit-text-stroke: 2px rgb(244, 244, 236);
    margin: {
      block: {
        start: 1.5rem;
        end: 1.5rem;
      }
    }
    &:first-child {
      -webkit-text-stroke-color: colors.$white;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      opacity: 0;
      transition: transform 2s ease, opacity 2s ease-out;
    }
    &:last-child {
      -webkit-text-stroke-color: colors.$primary;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      opacity: 0;
      transition: transform 2s ease, opacity 2s ease-out;
    }
  }
 }
  
}

.symbols {
  li {
    border-radius: 50%;
    &:first-child {
      position: absolute;
      top: -9%;
      --symbole-width: clamp(4rem, 8vw, 10rem);
      --symbole-height: clamp(4rem, 8vw, 10rem);
    }
    &:nth-child(2) {
      position: absolute;
      top: 25%;
      left: 42%;
      --symbole-width: clamp(2rem, 4vw, 6rem);
      --symbole-height: clamp(2rem, 4vw, 6rem);
    }
    &:last-child {
      position: absolute;
      bottom: 5%;
      right: 0%;
      --symbole-width: clamp(3rem, 6vw, 8rem);
      --symbole-height: clamp(3rem, 6vw, 8rem);
      background-image: linear-gradient(118deg, #b7b966 10%, #4a806a 90%);
    }
  }
}
