@use 'sass:map';
@use './colors' as colors;
@use './typo/variables' as typo;
@use './mixins/breakpoint' as breakpoint;

.home {
  .active {
    .phrase {
      height: 50%;
      overflow: hidden;
      opacity: 1;
      &:first-child {
        transform: translateY(0);
        opacity: 1;
      }
      &:last-child {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  .content {
    position: relative;
    margin: {
      block: {
        start: 80px;
      }
    }
    @include breakpoint.large-breakpoint {
      margin: {
        block: {
          start: 120px;
          end: 120px;
        }
      }
    }
  }
  .content-text {
    position: relative;
    display: flex;
    flex: {
      direction: column;
    }
    text-align: center;
  }
  .phrase {
    font-weight: 100;
    margin: {
      block: {
        start: 1.5rem;
        end: 1.5rem;
      }
    }
    opacity: 0;
    transition: transform 3s ease, opacity 5s ease-out;
    &:first-child {
      color: colors.$primary-deep;
      transform: translateY(100%);
    }
    &:last-child {
      color: colors.$primary;
      transform: translateY(-100%);
    }
  }
}
