@use 'sass:map';
@use './colors' as colors;
@use './typo/variables' as typo;
@use './mixins/breakpoint' as breakpoint;

.home {
  background-color: colors.$black;
  .content {
    position: relative;
    margin: {
      block: {
        start: 80px;
      }
    }
    @include breakpoint.large-breakpoint {
      margin: {
        block: {
          start: 180px;
          end: 180px;
        }
      }
    }
  }
  .content-text {
    position: relative;
    text-align: center;
    z-index: 1;
  }
  .phrase {
    color: transparent;
    -webkit-text-stroke: 2px rgb(244, 244, 236);
    &:first-child {
      -webkit-text-stroke-color: colors.$white;
    }
    &:last-child {
      -webkit-text-stroke-color: colors.$primary;
    }
  }
}

.symbols {
  li {
    width: var(--symbole-width);
    height: var(--symbole-height);
    border-radius: 50%;
    //opacity: 0;
    &:first-child {
      position: absolute;
      top: -9%;
      --symbole-width: clamp(4rem, 8vw, 10rem);
      --symbole-height: clamp(4rem, 8vw, 10rem);
      background-image: linear-gradient(
        53deg,
        colors.$primary 10%,
        colors.$secondary 90%
      );
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &:nth-child(2) {
      position: absolute;
      top: 25%;
      left: 42%;
      --symbole-width: clamp(2rem, 4vw, 6rem);
      --symbole-height: clamp(2rem, 4vw, 6rem);
      background-image: linear-gradient(
        53deg,
        colors.$secondary 10%,
        colors.$primary 90%
      );
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &:last-child {
      position: absolute;
      bottom: 5%;
      right: 0%;
      --symbole-width: clamp(3rem, 6vw, 8rem);
      --symbole-height: clamp(3rem, 6vw, 8rem);
      background-image: linear-gradient(118deg, #b7b966 10%, #4a806a 90%);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
