@use './colors';

.image {
  background: {
    color: colors.$grey-light;
  }
  margin: {
    block: {
      end: clamp(8px, 2vw, 36px);
    }
  }

  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
