@use 'sass:map';
@use './colors' as colors;
@use './typo/variables' as typo;
@use './mixins/breakpoint' as breakpoint;
@use './mixins/hover-focus' as hover-focus;

nav {
  position: fixed;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 80px;
  height: 80px;
  overflow: hidden;
  &.is-nav-open {
    width: auto;
    height: auto;
    .trigger {
      &::before {
        transform: translateY(0) rotate(45deg);
      }
      &::after {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
    .nav-menu {
      li {
        opacity: 1;
      }
    }
  }
  .nav-menu {
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color: colors.$white;
    max-height: 100%;
    overflow: auto;
    border-radius: 0;
    transform-origin: calc(100% - 30px) 30px;
    animation-timing-function: cubic-bezier(0.13, 1.13, 0.64, 1);
  }
  ul {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    li {
      opacity: 0;
      transition: opacity 0.6s ease-in-out;
      padding: {
        block: {
          start: 10px;
          end: 10px;
        }
        inline: {
          start: 16px;
          end: 16px;
        }
      }
      &:first-child {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: 0.18s;
      }
      &:nth-child(3) {
        transition-delay: 0.32s;
      }
      &:nth-child(4) {
        transition-delay: 0.4s;
      }
      &:nth-child(5) {
        transition-delay: 0.58s;
      }

      a {
        color: colors.$primary;
        font-size: 20px;
        text-decoration: solid;

        @include hover-focus.hover-focus-state {
          color: colors.$primary-deep;
        }
      }
    }
  }
}

.trigger {
  background-color: colors.$white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 0;

  &::before,
  &::after {
    content: '';
    height: 2px;
    width: 18px;
    display: block;
    font-size: 8px;
    margin: {
      block: {
        start: 7px;
        end: 7px;
      }
      inline: {
        start: auto;
        end: auto;
      }
    }
    background: {
      color: colors.$grey-dark;
    }
  }
  &::before {
    transform: translateY(0) rotate(0);
    transition: transform 0.5s cubic-bezier(0.5, 0.2, 0.2, 1),
      background-color 0.5s ease;
  }
  &::after {
    transform: translateY(0) rotate(0);
    transition: transform 0.5s cubic-bezier(0.5, 0.2, 0.2, 1),
      background-color 0.5s ease;
  }
}
