@use 'sass:map';
@use './colors' as colors;
@use './typo/variables' as typo;
@use './mixins/breakpoint' as breakpoint;
@use './mixins/hover-focus' as hover-focus;

.nav-bar {
  width: 100%;
  .nav-menu {
    display: flex;
    flex: {
      direction: column;
    }
    gap: 16px;
    text-align: center;
    a {
      color: colors.$white-inactive;
      padding: {
        block: {
          start: 8px;
          end: 8px;
        }
        inline: {
          start: 16px;
          end: 16px;
        }
      }
      &.active {
        color: colors.$white;
      }
      @include hover-focus.hover-focus-state {
        color: colors.$white;
      }
    }
  }

  @include breakpoint.large-breakpoint {
    width: unset;
    .nav-menu {
      flex: {
        direction: row;
      }
    }
  }
}
