@use './mixins/breakpoint' as breakpoint;

section,
.section {
  padding: {
    block: {
      start: 2rem;
      end: 2rem;
    }
  }
  @include breakpoint.medium-breakpoint {
    padding: {
      block: {
        start: 4rem;
        end: 4rem;
      }
    }
  }
}
