@use './mixins/breakpoint' as breakpoint;

section,
.section {
  padding: {
    block: {
      start: 6rem;
      end: 6rem;
    }
  }
  @include breakpoint.medium-breakpoint {
    padding: {
      block: {
        start: 8rem;
        end: 8rem;
      }
    }
  }
}
