@use './mixins/breakpoint' as breakpoint;
@use './colors';

.skills {
  background: {
    color: colors.$white;
  }
  color: #8a908e;
  .is-in-viewport {
    li {
      &:nth-child(odd) {
        .list-container {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }
      &:nth-child(even) {
        .list-container {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: disc;
    margin: {
      block: {
        start: 3rem;
        end: 3rem;
      }
    }
  }
  li {
    width: calc(100% - 2rem);
    overflow: hidden;
    min-height: 0px;
    min-width: 0px;
    margin: {
      block: {
        start: 1.2rem;
        end: 1.2rem;
      }
    }
    @include breakpoint.medium-breakpoint {
      width: calc(50% - 2.5rem);
      margin: {
        inline: {
          start: 1.2rem;
          end: 1.2rem;
        }
      }
    }
    &:nth-child(odd) {
      .list-container {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
      }
    }
    &:nth-child(even) {
      .list-container {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
      }
    }
    .list-container {
      display: flex;
      flex-direction: column;
      transition: transform 2s ease-out, -webkit-transform 2s ease-out,
        opacity 2s ease-out;
      @include breakpoint.medium-breakpoint {
        display: grid;
      }
    }
    .headline {
      padding: 8px 18px;
      border-radius: 20px;
      background-color: colors.$primary;
      color: colors.$white;
      font-size: 14px;
      font-weight: bold;
      width: 60%;
      height: fit-content;
      text-align: center;
      margin: {
        block: {
          end: unset;
        }
      }
    }
    p {
      color: #737068;
      margin: {
        block: {
          start: unset;
          end: unset;
        }
      }
    }
  }
}

.button-container {
  color: colors.$white;
  ul {
    display: flex;
  }
  .button {
    border: colors.$primary solid 1px;
  }
}
