@use './colors';
@use './mixins/breakpoint' as breakpoint;

.slider {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: {
      block: {
        start: 2rem;
        end: 3.5rem;
      }
    }
    [href] {
      color: initial;   
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: colors.$primary;
  top: initial;
  bottom: 10%;
  font-size: 25px;
  width: 0px;
  height: 0px;
  &::after {
    font-size: 25px;
  }
}
.swiper-button-prev {
  left: 90%;
}

.swiper-scrollbar-drag {
  background: {
    color: colors.$primary;
  }
}
