@use './mixins/breakpoint' as breakpoint;

$max-width: 1280px;
$padding: 3vw;

.wrapper {
  max: {
    width: $max-width;
  }
  padding: {
    inline: {
      start: $padding;
      end: $padding;
    }
  }
  margin: {
    right: auto;
    left: auto;
  }
  @include breakpoint.x-large-breakpoint {
    padding: {
      inline: {
        start: $padding * 2;
        end: $padding * 2;
      }
    }
  }
}

.inner-wrapper {
  padding: {
    inline: {
      start: calc($padding);
      end: calc($padding);
    }
  }
  @include breakpoint.large-breakpoint {
    padding: {
      inline: {
        start: $padding * 2;
        end: $padding * 2;
      }
    }
  }
}
