@use './mixins/breakpoint' as breakpoints;

$max-width: 1280px;
$padding: 2vw;

.wrapper {
  max: {
    width: $max-width;
  }
  padding: {
    inline: {
      start: $padding;
      end: $padding;
    }
  }
  margin: {
    right: auto;
    left: auto;
  }
  @include breakpoints.large-breakpoint {
      padding: {
      inline: {
        start: $padding * 2;
        end: $padding * 2;
      }
    }
  }
}

.inner-wrapper {
  padding: {
    inline: {
      start: calc($padding + 1rem);
      end: calc($padding + 1rem);
    }
  }
  @include breakpoints.large-breakpoint {
      padding: {
      inline: {
        start: $padding * 2;
        end: $padding * 2;
      }
    }
  }

}
