@use './header';
@use './links';
@use './lists';
@use './colors';
@use './wrapper';
@use './container';
@use './sections';
@use './navigation';
@use './buttons';
@use './home';
@use './mixins/hover-focus';
@use './mixins/breakpoint';
@use './typo/index';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
