@font-face {
    font: {
        family:"Montserrat";
        weight: 400;
        style: normal;
    }
    src: 
        url("../../../fonts/montserrat-v25-latin-regular.woff2") format("woff2");
}

@font-face {
    font: {
        family:"Montserrat";
        weight: 500;
        style: normal;
    }
    src: 
        url("../../../fonts/montserrat-v25-latin-500.woff2") format("woff2");
}

@font-face {
    font: {
        family:"Montserrat";
        weight: 700;
        style: normal;
    }
    src: 
        url("../../../fonts/montserrat-v25-latin-700.woff2") format("woff2");
}

@font-face {
    font: {
        family:"Open-sans";
        weight: 400;
        style: normal;
    }
    src: 
        url("../../../fonts/open-sans-v35-latin-regular.woff2") format("woff2");
}

@font-face {
    font: {
        family:"Open-sans";
        weight: 500;
        style: normal;
    }
    src: 
        url("../../../fonts/open-sans-v35-latin-500.woff2") format("woff2");
}

@font-face {
    font: {
        family:"Open-sans";
        weight: 500;
        style: normal;
    }
    src: 
        url("../../../fonts/open-sans-v35-latin-700.woff2") format("woff2");
}
