$font-family-secondary: "Open-sans", "Arial", "Helvetica", sans-serif;
$font-family-body: "Montserrat", "Arial", "Helvetica", sans-serif;

$font-weights: (
    "regular": 400,
    "normal": 500,
    "bold": 700,
);